<div class="country-info info-hamburg">
	<div class="title-row">
		<h2>Hamburg</h2>
		<a class="country-close-trigger"></a>
	</div>

	<div class="stats">
		<div class="stat">
			<span class="stat-label">Rank</span>
			<span class="stat-value">2<span class="stat-small">/49</span></span>
		</div>
		<div class="stat">
			<span class="stat-label">Sex shops</span>
			<span class="stat-value">16</span>
		</div>
		<div class="stat">
			<span class="stat-label">Swingerclubs</span>
			<span class="stat-value">8</span>
		</div>
		<div class="stat">
			<span class="stat-label">Gay Pride Events</span>
			<span class="stat-value">6</span>
		</div>
		<div class="stat">
			<span class="stat-label">LGBT Events</span>
			<span class="stat-value">16</span>
		</div>
		<div class="stat">
			<span class="stat-label">LGBT Bars / Clubs</span>
			<span class="stat-value">17</span>
		</div>
		<div class="stat">
			<span class="stat-label">Brothels</span>
			<span class="stat-value">71</span>
		</div>
		<div class="stat">
			<span class="stat-label">Sex workers</span>
			<span class="stat-value">226</span>
		</div>
		<div class="stat">
			<span class="stat-label">Sexwork Organisations</span>
			<span class="stat-value">7</span>
		</div>
		<div class="stat">
			<span class="stat-label">Sex. Health Organisations</span>
			<span class="stat-value">8</span>
		</div>
		<div class="stat">
			<span class="stat-label">HIV / STD Doctors and Clinics</span>
			<span class="stat-value">6</span>
		</div>

		<div class="stat">
			<span class="stat-label">Final Ranking (out of 50)</span>
			<span class="stat-value">22</span>
		</div>
	</div>

	<p></p>
</div>