//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================


webfont('Rage', 'Rage', 'RageItalic',  normal, normal)

//400
webfont('Futura', 'Futura', 'FuturaBookC',  normal, normal)
//500
webfont('Futura-Medium', 'Futura', 'FuturaMediumC',  normal, normal)
//700
webfont('Futura-Demi', 'Futura', 'FuturaDemiC',  normal, normal)

webfont('Futura-Heavy', 'Futura', 'Futura-Heavy',  normal, normal)

//400
webfont('Lora-Regular', 'Lora', 'Lora-Regular',  normal, normal)
//700
webfont('Lora-Bold', 'Lora', 'Lora-Bold',  normal, normal)
//500
webfont('Lora-Medium', 'Lora', 'Lora-Medium',  normal, normal)
