{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Preloader -->
		<div class="preloader__wrapper">
			<div class="preloader"><span></span></div>
			<div class="preloader__section preloader__section--left"></div> 
			<div class="preloader__section preloader__section--right"></div>
		</div>		
		<!--// Preloader -->


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<div class="swbi_content">

			{% include '../parts/components/scroll-down.html' %}



			<section class="data-section">
				<div class="site-width container">
					<div class="columns">
						<div class="col map-col" >

							<div class="links-contain">
								<div class="languages">
									<a href="en.html" class="language-link">
										<img src="img/flag-uk.svg" alt="">
										<span>EN</span>
									</a>

									<span class="language-link">
										<img src="img/flag-germany.svg" alt="">
										<span>DE</span>
									</span>
								</div>

								<a class="info-trigger">i</a>
							</div>

							<div class="mobile-show">
								<div class="logo-wrapper">	

									<img src="img/logo.png" class="logo" alt="World's Most Sexually Liberated Cities">
								</div>

								<p class="intro-para" data-aos="fade-right">Wie sexpositiv ist Deutschland? Wir haben deutsche Großstädte hinsichtlich ihrer sexuellen Freizügigkeit untersucht und die sexpositivsten Städte in einem Ranking zusammengefasst. <a class="jump-to" data-target="info-section"><span>mehr</span></a></p>
							</div>

							<div class="control-row">
								<div class="dd-contain">
									<span>Anzeigen</span>
									<select class="table-control">
										<option value="finalranking" selected>Endgültige Ranking (von 50)</option>
										<option value="swingerclubs">Swingerclubs</option>
										<option value="gayprides">Gay Pride Events</option>
										<option value="lgbtevents">LGBT events</option>
										<option value="lgbtbars">LGBT Bars / Clubs</option>
										<option value="brothels">Bordelle</option>
										<option value="sexshops">Sex shops</option>
										<option value="sexworkers">Sexarbeiter</option>
										<option value="sexworkorg">Sexarbeit-Beratung</option>
										<option value="sexhealth">Gesundheitsorganisationen</option>
										<option value="hiv">PrEP</option>
										<option value="overall" >Population</option>
										
									</select>
								</div>

								<div class="links-contain">
									<div class="languages">
										<a href="en.html" class="language-link">
											<img src="img/flag-uk.svg" alt="">
											<span>EN</span>
										</a>

										<span class="language-link">
											<img src="img/flag-germany.svg" alt="">
											<span>DE</span>
										</span>
									</div>

									<a class="info-trigger">i</a>
								</div>
							</div>

							<div class="internal-map-contain">
								<!-- btn zoom -->
								<a class="overlay-close overlay-close-trigger js-close-zoom-map-btn"></a>
								<div class="scale-visual">
									<span class="scale-visual__text">MOST</span>
									<span class="scale-visual__line"></span>
									<span class="scale-visual__text">LEAST</span>
								</div>

								<div class="map-visual">
									{% include '../parts/components/maps/desktop.html' %}

									<div class="map-scale">
										
										<div class="map-scale-container">
											{% include '../parts/components/maps/mobile.html' %} 
										</div>
									</div>
								</div>

								

							</div>
						</div>

						<div class="col data-col">
							<div class="intro-contain mobile-hide">
								<div class="logo-wrapper">	

									<img src="img/logo.png" class="logo" alt="World's Most Sexually Liberated Cities">
								</div>

								<p data-aos="fade-right" class="intro-para" data-aos-anchor=".data-col">Wie sexpositiv ist Deutschland? Wir haben deutsche Großstädte hinsichtlich ihrer sexuellen Freizügigkeit untersucht und die sexpositivsten Städte in einem Ranking zusammengefasst. <a class="jump-to" data-target="info-section"><span>mehr</span></a></p>
							</div>

							<div class="table-container" data-aos="fade-right" data-aos-anchor=".data-col">

								{% include '../parts/components/table/de/table-finalranking.html' %}
								{% include '../parts/components/table/de/table-overall.html' %}
								{% include '../parts/components/table/de/table-swingerclubs.html' %}
								{% include '../parts/components/table/de/table-gayprides.html' %}
								{% include '../parts/components/table/de/table-lgbtevents.html' %}
								{% include '../parts/components/table/de/table-lgbtbars.html' %}
								{% include '../parts/components/table/de/table-brothels.html' %}
								{% include '../parts/components/table/de/table-sexshops.html' %}
								{% include '../parts/components/table/de/table-sexworkers.html' %}
								{% include '../parts/components/table/de/table-sexworkorg.html' %}
								{% include '../parts/components/table/de/table-sexhealth.html' %}
								{% include '../parts/components/table/de/table-hiv.html' %}


								<!-- Info -->
								{% include '../parts/components/info/info-de.html' %}


								<div class="bg-fade"></div>
							</div>

							<div class="expand-control" data-aos="fade-up" data-aos-anchor=".data-col" data-aos-delay="100">
								<a class="expand-toggle">
									<img src="img/icon-view.svg" alt="">
									<span>Alle ansehen</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="info-section">
				<div class="site-width">
					<div><h2 data-aos="fade-up">Hintergrund</h2></div>

					<p data-aos="fade-up">
						Der Begriff „sexpositiv“ ist nicht neu. Bereits in den 1970er Jahren kam er in feministischen Diskussionen darüber auf, wie die Gesellschaft hin zu einem friedlichen, offenen und gleichberechtigten Zusammenleben gestaltet und verändert werden könnte. Im 21. Jahrhundert hat der Begriff noch einmal neue Fahrt aufgenommen und ist endlich angekommen im gesellschaftlichen Diskurs über Gleichberechtigung und Sexualität. 
					</p>

					<p>Ob in Berlin, Köln oder Hamburg – sogenannte sexpositive Partys und Events sind mittlerweile überall. Sie verstehen sich als „safer spaces“, als geschützte Orte, an denen sexuelle Handlungen zwar nicht obligatorisch, aber doch immerhin möglich sind. Im Mittelpunkt stehen stets der Respekt und die Achtsamkeit aller Anwesenden gegenüber sexuellen Orientierungen, Ausdrucksformen und Körpern.</p>

					<p>„Es existiert eine unendlich große Vielfalt an sexuellen Praktiken“, schreibt die Sexualwissenschaftlerin Laura Mérrit <a href="https://missy-magazine.de/blog/2019/08/08/hae-was-heisst-sexpositiv/" target="_blank">in einem Essay</a> über das neue sexpositive Lebensgefühl. Doch alles sei in Ordnung, solange die Dinge zwischen Erwachsenen einvernehmlich passierten. Und sie fügt hinzu: „Die sexpositive Bewegung steht heute auf einer breiten Basis und lässt sich mit folgenden Merkmalen aus den Bereichen Gesundheit, Sexualität, feministische Pornografie, Sexarbeit und BDSM beschreiben: Sexuelle Freiheit ist Bestandteil der allgemeinen Freiheitsbestrebungen.“</p>

					<p>Doch inwiefern ist das neue sexpositive Leben in Deutschland spürbar? Unsere Studie möchte Schlaglichter auf das sexuelle Leben in deutschen Großstädte werfen – und die Frage beantworten: Welche Stadt zeichnet sich besonders durch ihre sexuelle Freizügigkeit aus?</p>

					<img class="lazy" data-src="img/article-image1.png"  data-aos="zoom-in">

					<div><h2 data-aos="fade-up">Unser Vorgehen</h2></div>
					<p data-aos="fade-up">
						Um zu belastbaren Ergebnissen zu kommen, haben wir viele unterschiedliche Daten in die Analyse einfließen lassen. Für jede Stadt haben wir uns angeschaut, welche Parameter bezüglich eines sexpositiven Lebens und gemessen an der Einwohnerzahl besonders stark ausgeprägt sind. 
					</p>
					<p data-aos="fade-up">
						Dazu gehören Sex Shops, Swingerclubs und Bordelle ebenso die Anzahl von Sexarbeiter:innen und Sexwork-Organisationen vor Ort. Auch das Thema LGBTQIA+ spielt in unserer Studie eine große Rolle. Denn: Je sichtbarer und präsenter queere Events und Räumlichkeiten in einer Stadt sind, als desto offener kann das dortige Lebensgefühl gewertet werden.
					</p>
					<p data-aos="fade-up">
						Aufklärung ist für die sexpositive Bewegung essentiell. Daher haben wir außerdem Gesundheitsorganisationen, Ärztehäuser und Kliniken in unser Ranking aufgenommen, die sich auf die Information und Prävention von sexuell übertragbare Krankheiten und HIV spezialisiert haben. Auch PrEP-Ausgabestellen fallen darunter. 
					</p>

					<p>Für jeden Parameter haben wir Punkte vergeben, je höher dabei die Ausprägung, desto höher der Wert und die Platzierung in unserem Ranking. Dabei haben sich einige interessante Ergebnisse abgezeichnet. Über jede Stadt in unseren Top 25 könnt ihr mit einem Klick auf der Karte oder in der Liste mehr erfahren.</p>


					<div><h2 data-aos="fade-up">Warum ist Sexpositivität so wichtig?</h2></div>

					<p data-aos="fade-up">
						In considering this study, of course, the question arises as to why sexual permissiveness is an important value to investigate. Quite simply: sexual permissiveness, also known as sex positivity, is a factor in which the state of development of many areas of society coincides. Because it says a lot about a society in general when minorities such as the LGBTQI community or women are restricted in their development opportunities. Such restrictions can be justified both with so-called traditional values ​​and also with political arguments. As the feminist movements of the 20th century have shown, the emancipation of genders or minority orientations is always connected with the acceptance of sexual permissiveness.
					</p>

					<div><h2 data-aos="fade-up">Sexual freedom of movement is not a matter of course</h2></div>

					<p data-aos="fade-up">
						Sexuelle Freiheit ist ein wichtiger Teil des allgemeinen Freiheitsgefühls. Sie hilft vielen Menschen dabei, sich von Tabus und einschränkenden Rollenklischees zu lösen und eigene Wünsche, Ideen und Träume zu verwirklichen. Eine sexpositive Haltung bewertet nicht, was richtig oder was falsch ist, sondern ermutigt jeden Einzelnen, sich auf die Suche nach seinem ganz eigenen, authentischen Weg zu begeben.

					</p>
					
					<p data-aos="fade-up">
						Für moderne Gesellschaften ist sexuelle Freiheit von unschätzbarem Wert, denn: Wie umfangreich die sexuellen Entfaltungsmöglichkeiten des Einzelnen in seiner Gegend sind, sagt viel über die Offenheit der dortigen Gesellschaft aus.
					</p>

					<img  class="lazy" data-src="img/article-image2.png" alt="" data-aos="zoom-in">

					<div><h2 data-aos="fade-up">Freiheit und sexpositives Leben hängen eng zusammen</h2></div>
					<p data-aos="fade-up">
						Jeder Mensch ist frei, aber achtsam – so ließe sich wohl das Motto der sexpositiven Bewegung zusammenfassen. Doch ein Blick in die Rechtsgeschichte zeigt: Sexpositives Leben wurde in Deutschland lange Zeit unterdrückt. Noch bis 1970 wurden homosexuelle oder stark sexuell aktive Frauen und junge Mädchen in Erziehungsheime eingewiesen. Schwangerschaftsabbrüche sind erst seit 1974 legal. Erst 1994 wurde der sogenannte Schwulenparagraph 175 aus dem Gesetzbuch gestrichen, der lange Zeit gleichgeschlechtliches Leben und Lieben in Deutschland massiv einschränkte. Bis 1997 war Vergewaltigung in der Ehe noch straffrei und bis 2016 galt eine Vergewaltigung überhaupt nur als solche, wenn das Opfer nachweislich heftige Gegenwehr geleistet hatte, was erfahrungsgemäß aus Todesangst oftmals unterbleibt.
					</p>

					<p data-aos="fade-up">
						Was können wir daraus schließen? Zunächst wohl dieses: Allgemeine Freiheit und Sexpositivität haben viel mehr miteinander zu tun, als manche zunächst vermuten würden. Ohne das eine, würde es das andere wohl gar nicht geben. Nur dort, wo sexpositives Leben möglich und auch vorhanden ist, lässt sich für die Menschen ein tatsächlich freies und selbstbestimmtes Leben führen. 
					</p>


					<p data-aos="fade-up">
						Aber werfen wir einen Blick in die Daten: In welcher deutschen Stadt ist sexpositives Leben heutzutage besonders stark ausgeprägt?

					</p>

					<div><h2 data-aos="fade-up">Die Gewinner des Rankings</h2></div>

					<p data-aos="fade-up">
						Wer hätte das gedacht? Die Hauptstadt sex-positiven Lebens in Deutschland ist: Köln. Die rheinische Metropole unterstreicht in unserem Ranking ihr weltoffenes, liberales Image und erreicht die absolute Spitzenplatzierung. Auf Platz 2 folgt Mannheim. Gemessen an der Einwohnerzahl gibt es nirgendwo sonst so viele Gay Events und Lokalitäten wie in der Stadt in Südwestdeutschland. Auf Platz 3: Freiburg. Die kleine Stadt im Breisgau überzeugt vor allem wegen ihrer vielen unterschiedlichen sexuellen Entfaltungsmöglichkeiten sowie einer nahezu idealen Gesundheitsversorgung. Und natürlich darf auch Berlin in den Top10 der sexpositivsten Städte Deutschlands nicht fehlen. Sexpositives Leben hat dort eine sehr lange Tradition. Schon in den 1920er Jahren war Berlin für sein sündiges, sexuell befreites Partyleben weltbekannt – und auch heute, rund 100 Jahre später, zeigt unsere Studie: Berlin ist immer noch ziemlich sexy.

					</p>
					<p data-aos="fade-up">
						Knapp am Podest vorbei, aber auf einem sehr guten vierten Platz: Osnabrück. Die Großstadt in Niedersachsen erzielt in vor allem in den Kategorien “Sex Shops”, “Gay Pride Events” und “Gesundheit” sehr gute Ergebnisse.
					</p>

					<div><h2 data-aos="fade-up">Die Überraschungen</h2></div>

					<p data-aos="fade-up">
						CuViele mag es überraschen, aber es sind vor allem die kleineren Städte wie Chemnitz, Magdeburg, Mannheim, Osnabrück und Wiesbaden, die in unserem Ranking positiv herausragen. Nur die wenigsten dürften sie so weit vorne vermutet haben. Doch sie sind der Beweis dafür, dass sexpositives Leben längst nicht nur in den pulsierenden Metropolen stattfindet. Mit Chemnitz und Magdeburg sind auch zwei ostdeutsche Städte in den Top10 vertreten und zeigen, dass Sexpositivität keineswegs nur ein westdeutsches Phänomen ist. Beide Städte überzeugen vor allem aufgrund ihrer zahlreichen Sexshops, Bordelle und Sexwork-Organisationen.
					</p>

					<div><h2 data-aos="fade-up">Die Schlusslichter</h2></div>

					<p data-aos="fade-up">
						Leverkusen, Solingen, Mülheim an der Ruhr – auch wenn diese drei Städte ganz hinten in unserem Ranking landen, heißt das natürlich nicht, dass dort überhaupt kein sexpositives Leben existiert. Im Gegenteil: Während Mülheim an der Ruhr und Leverkusen vor allem unter Sexarbeitenden beliebt sind, kann Solingen mit seinem ortsansässigen Swingerclub ordentlich punkten. Und damit wird auch klar: In fast jeder deutschen Stadt scheint es ein frivoles, sexpositives Leben zu geben. Es liegt also an jedem selbst, dieses Leben für sich zu entdecken und auszuprobieren. Fest steht: Die sexpositive Bewegung ist endgültig in Deutschland angekommen.
					</p>

					<p data-aos="fade-up">
						Hättet ihr diese Ergebnisse so erwartet oder fehlt euch eine Stadt in diesem Ranking? Dann lasst es uns gerne wissen über <a href="https://twitter.com/LustMagOfficial" target="_blank">https://twitter.com/LustMagOfficial</a>.
					</p>

					<div><h2 data-aos="fade-up">Methodik</h2></div>

					<p data-aos="fade-up">
						Neugierig wie wir die Ergebnisse berechnet haben? Klicke hier um mehr über unsere Methodik zu erfahren (pdf).
					</p>

					<div><h2 data-aos="fade-up">Quellen</h2></div>

					<p data-aos="fade-up">
						Laura Mérrit: Hä? Was heißt Sexpositiv? In: Missy Magazine, 08. August 2019

					</p>


				</div>


			</section>
		</div>
		<!-- //Main -->

		<div class="info-overlay">
			<div class="info-bg overlay-close-trigger"></div>
			<div class="overlay-content"> 
				<a class="overlay-close overlay-close-trigger"></a> 
				<img src="img/logo.png" alt="German Most Sexually Liberated Cities">

				<h2>Methodik für Rangliste der “sexpositivsten Städte Deutschlands”</h2>
				<p>Um eine Rangliste der sexpositivsten Städte Deutschlands zu erstellen, wurden die 50 größten Städte des Landes auf verschiedene Faktoren hin untersucht. Dazu gehören die Anzahl von Sexshops, Swingerclubs, Gay Bars, Gay Pride und LGBTAIQ+ Events. Auch der Umgang mit Sexarbeitenden wurde in der Untersuchung berücksichtigt, indem die Anzahl von Sexarbeiterinnen, Sexwork-Organisationen und die Anzahl von Bordellen vor Ort ermittelt wurden. Daneben spielte das Thema Gesundheit und Aufklärung in der Untersuchung eine wichtige Rolle. Hierfür wurde die Anzahl von sexuellen Beratungs- und Gesundheitsangebote sowie die Anzahl von PrEP-Begleitangeboten vor Ort ermittelt.</p>
				<p>Die Untersuchung wurde am 30.04.2022 abgeschlossen.</p>

				<h2>Faktoren, Definitionen und Quellen</h2>
				<h3>RUntersuchungsfeld 1: Sexpositiver Lifestyle</h3>
				<p><b>Sexshops:</b> Informationen über die Anzahl von Sexshops wurden dem <a href="https://www.yelp.de/berlin" target="_blank">Empfehlungsportal Yelp</a> entnommen.</p>
				<p><b>Swingerclubs:</b> Informationen über die Anzahl von Swingerclubs wurden dem Datingportal <a href="https://www.joyclub.de/swingerclubs/" target="_blank">Joyclub</a> entnommen. Mit mehr als 1500 eingetragenen Clubs und Einrichtungen zählt die dortige Swingerclub-Datenbank zu den größten in Europa.</p>

				<h3>Untersuchungsfeld 2: LGBTIAQ+</h3>
				<p><b>Gay Pride Events:</b> Informationen über die Anzahl von Gay Pride Events wurden der lokalen Veranstaltungsübersicht von Google entnommen.</p>
				<p><b>LGBTIAQ+ Events:</b>  Informationen über die Anzahl von örtlichen LGBTIAQ+ Events wurden der lokalen Veranstaltungsübersicht von Google entnommen.</p>
				<p><b>LGBTIAQ+ Bars und Clubs:</b> Informationen über die Anzahl von LGBTIAQ+ Bars und Clubs wurden queeren Informations- und Szene-Medien entnommen. Dazu gehören die Webseiten von <a href="https://www.inqueery.de/" target="_blank">inqueery</a>, <a href="https://www.patroc.com/" target="_blank">Patroc</a> sowie  <a href="https://www.travelgay.com/" target="_blank">travelgay</a>.</p>

				<h3>Untersuchungsfeld 3: Sexarbeit</h3>
				<p><b>Bordelle:</b> Informationen über die Anzahl von Bordellen wurden dem Rotlicht-Verzeichnis <a href="http://www.lustmap.de/" target="_blank">lustmap</a> entnommen.</p>
				<p><b>Sexarbeiterinnen:</b> Informationen über die Anzahl von Sexarbeiterinnen vor Ort wurde dem erotischen Anzeigenportal <a href="https://erobella.com/" target="_blank">Erobella</a> entnommen. Mit mehr als 10.000 registrierten Sexarbeiterinnen gehört das Portal zu den größten Escort-Webseiten in Deutschland.</p>
				<p><b>Organisationen:</b> Informationen über die Anzahl von Organisationen, die sich für die Interessen von Sexarbeitenden einsetzen, wurden zwei Quellen entnommen: dem <a href="https://www.berufsverband-sexarbeit.de/index.php/wichtige-adressen/#tab-id-3" target="_blank">Berufsverband Sexarbeit</a> sowie dem Portal <a href="http://www.services4sexworkers.eu/s4swi/services/country/?name=Germany" target="_blank">Services4Sexworkers</a>. Beide Seiten zählen zu den wichtigsten Informationsportalen für Sexarbeitende im Netz.</p>

				<h3>Untersuchungsfeld 4: Sexuelle Gesundheit</h3>

				<p><b>Gesundheitsorganisationen:</b> Informationen über Gesundheitsorganisationen vor Ort, die sich den Themen Geschlechtskrankheiten, HIV und Sexualität annehmen, wurden dem <a href="https://www.kompass.hiv/" target="_blank">HIV Kompass</a> entnommen. Wir bedanken uns bei der <a href="https://www.aidshilfe.de/" target="_blank">Deutschen Aidshilfe</a> für die zu Zurverfügungstellung des Materials.</p>

				<p><b>PrEP:</b> PrEP ist eine HIV-Präventionsprophylaxe für Menschen, die zwar HIV-negativ sind, aber ein erhöhtes Risiko haben, sich mit HIV zu infizieren. Informationen über Ärzte und Einrichtungen, die sich insbesondere diesem Thema widmen, wurden der Deutschen Arbeitsgemeinschaft niedergelassener Ärzte in der Versorgung HIV-Infizierter e.V. (<a href="https://www.dagnae.de/wp-content/uploads/2021/07/PrEP_%C3%9Cbersicht-080721.pdf" target="_blank">dagnä</a>) entnommen. </p>

				<h2>Berechnung und Scoring</h2>
				<p>Um eine Rangliste zu berechnen, wurden alle Ergebnisse der untersuchten Einflussfaktoren auf einer Punkteskala von 0 bis 100 unter Berücksichtigung der jeweiligen Bevölkerungsgrößen standardisiert (d.h. alle Ergebnisse wurden durch die Gesamtbevölkerung dividiert, wodurch ein Pro-Kopf Score erstellt wurde). Die Stadt, die im jeweiligen Einflussfaktor am besten abschnitt erhielt die Punktzahl 100. Die Stadt, die jeweiligen Einflussfaktor am schlechtesten abschnitt, erhielt die Punktzahl 0. Alle anderen Städte ordneten sich entsprechend ihres Ergebnisses dazwischen ein.</p>
				<p>Auf jeden einzelnen Faktor wurde ein zusätzlicher Koeffizient basierend auf seiner wahrgenommenen Wichtigkeit angewendet. Abschließend wurden alle Punkte zusammengezählt, woraus sich die endgültige Rangliste ergab.</p>

			</div>
		</div>



		







		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>