<svg class="invert-trigger" xmlns="http://www.w3.org/2000/svg" width="16.564" height="21.076" viewBox="0 0 16.564 21.076">
	<g id="invert" transform="translate(-1012.701 -439.708)">
		<path id="Path_80" data-name="Path 80" d="M1028.266,447.99H1013.7l7.282-7.282Z" transform="translate(0 0)" fill="#fff" stroke="#FE5CB2" stroke-linejoin="round" stroke-width="2"></path>
		<path id="Path_81" data-name="Path 81" d="M1028.266,448.262H1013.7l7.282,7.282Z" transform="translate(0 4.24)" fill="#fff" stroke="#FE5CB2" stroke-linejoin="round" stroke-width="2"></path>
	</g>
</svg>