<header class="lus-header">
	<div class="container">

		<div class="lus-header__top">

			<div class="lus-toggle lus-toggle-open-js">
				<div class="lus-toggle__icon"> 
					<span></span> <span></span> <span></span>
				</div>
			</div>

			<div class="lus-header-logo"> 
				<a href="https://lustmag.com/"> Lust </a>
			</div>

			<div class="lus-header__info">
				<div class="lus-header-search-btn"> 
					<i class="fas fa-search"></i>
				</div>
			</div>

		</div>

		<div class="lus-header__bot">
			<div class="lus-header__line"></div>
			<nav class="nut-header-nav">
				<ul class="lus-header-nav__menu">
					<li >
						<a href="https://www.lustmag.com/lustvolles/">Lustvolles</a>
					</li>
					<li>
						<a href="https://www.lustmag.com/perspektiven/">Perspektiven</a>
					</li>
					<li>
						<a href="https://www.lustmag.com/news/">News</a>
					</li>
				</ul>
			</nav>
			<div class="lus-header__line">

			</div>
		</div>

	</div>
	<!-- //container -->
</header>


<div class="lus-header lus-header--fix">
	<div class="container">
		<div class="lus-header__top">
			<div class="lus-toggle lus-toggle--active lus-toggle-close-js">
				<div class="lus-toggle__icon">
					<span></span> <span></span> <span></span>
				</div>
			</div>
			<div class="lus-header-logo"> 
				<a href="https://lustmag.com/"> Lust </a>
			</div>
		</div>
	</div>
	<div class="lus-header__bot">
		<nav class="lus-header-nav">
			<ul class="lus-header-nav__menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-885">
					<a href="https://www.lustmag.com/lustvolles/">Lustvolles</a>
				</li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
					<a href="https://www.lustmag.com/perspektiven/">Perspektiven</a>
				</li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172">
					<a href="https://www.lustmag.com/news/">News</a>
				</li>
			</ul>
		</nav>
	</div>
</div>


