::-webkit-scrollbar
	width 10px


::-webkit-scrollbar-track 
	background #EFEFEF
	box-shadow inset 0 0 6px rgba(0,0,0,0.3)


::-webkit-scrollbar-thumb 
	background #DC005A


body,
html
	scrollbar-color #DC005A #EFEFEF
	&.has-scroll-smooth,
	&.overlay-active
		overflow: hidden


.disable-hover,
.disable-hover * 
	pointer-events none !important

.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%


.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.light-text-color
	color $light-text-color
	
.dark-text-color
	color $dark-text-color
	
.accent-color
	color $accent-color
	

.content
	*
		&:last-child
			margin-bottom 0
			
	h2,h3,h3,h4,h5,h6
		line-height 1
		font-family $Bold
		
	strong, b
		font-family $Bold
		

	ul, ol
		li
			display block
			position relative
			margin-bottom 10px
			
			&:last-child
				margin-bottom 0
				
	ul
		li
			&:before
				pseudo()
				width 4px
				height 4px
				border-radius 50%
				margin-right 4px
				background-color $text-color
				
	ol
		counter-reset list
		li
			&:before
				counter-increment list
				content counter(list) ". "
				display inline-block
				margin-right 4px
				