//  Fonts 
$Rage = 'Rage', Arial, sans-serif
$Futura = 'Futura', Arial, sans-serif
$FuturaMed = 'Futura-Medium', Arial, sans-serif
$FuturaDemi = 'Futura-Demi', Arial, sans-serif
$FuturaHeavy = 'Futura-Heavy', Arial, sans-serif
$Lora = 'Lora-Regular', Arial, sans-serif
$LoraBold = 'Lora-Bold', Arial, sans-serif
$LoraMed = 'Lora-Medium', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $FuturaHeavy
$body-font-size = 18px
$body-line-height = 25.2px

// Sizes
$container-width = 1430px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
// $accent-color = #f83c7f
$accent-color =  #DC005A
$light-accent-color = #E04D83
$alternate-color = #DC005A
// $text-color = #212529
$text-color = #000
$alternate-text-color = #414042

$basic-white-color = #fff
$basic-black-color = #000

$custom-color = #2d2d2d


$top12 = #DC005A
$top24 = rgba(255, 78, 110, 0.75)
$top36 = #FF765C
$top50 = #FF9D62



$nav-link-color = #4e4e4e
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #2d2d2d

$light-grey-bg = #C4C4C4


$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

