//  Fonts 
$Rage = 'Rage', Arial, sans-serif
$Futura = 'Futura', Arial, sans-serif
$FuturaMed = 'Futura-Medium', Arial, sans-serif
$FuturaDemi = 'Futura-Demi', Arial, sans-serif
$Lora = 'Lora-Regular', Arial, sans-serif
$LoraBold = 'Lora-Bold', Arial, sans-serif
$LoraMed = 'Lora-Medium', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $FuturaMed
$body-font-size = 18px
$body-line-height = 25.2px

// Sizes
$container-width = 1430px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #f83c7f
$text-color = #212529

$basic-white-color = #fff
$basic-black-color = #000

$custom-color = #2d2d2d




$nav-link-color = #4e4e4e
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #2d2d2d

$light-grey-bg = #efefef


$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

