<div class="table-contain  table-hiv">
	<h2>Overall Rankings</h2>
	<table>
		<tbody>
			{% include 'tr-head-en.html' %}

			<tr data-country="Berlin">
				<td class="rank">1</td>

				<td>8</td>
				<td>Berlin</td>
				{% include '../cities/berlin.html' %}
				
			</tr>

			<tr data-country="Munich">
				<td class="rank">2</td>
				<td>11</td>
				<td>Munich</td>
				{% include '../cities/munich.html' %}
				
			</tr>

			<tr data-country="Cologne">
				<td class="rank">3</td>
				<td>1</td>
				<td>Cologne</td>
				{% include '../cities/cologne.html' %}

				
			</tr>

			<tr data-country="Hamburg">
				<td class="rank">4</td>
				<td>22</td>
				<td>Hamburg</td>
				{% include '../cities/hamburg.html' %}
				
			</tr>

			<tr data-country="Frankfurt">
				<td class="rank">5</td>
				<td>9</td>
				<td>Frankfurt am Main</td>
				{% include '../cities/frankfurt.html' %}
				
			</tr>

			<tr data-country="Bremen">
				<td class="rank">6</td>
				<td>15</td>
				<td>Bremen</td>
				{% include '../cities/bremen.html' %}
				
			</tr>

			<tr data-country="Stuttgart">
				<td class="rank">7</td>
				<td>10</td>
				<td>Stuttgart</td>
				{% include '../cities/stuttgart.html' %}
				
			</tr>

			<tr data-country="Dusseldorf">
				<td class="rank">8</td>
				<td>26</td>
				<td>Dusseldorf</td>
				{% include '../cities/dusseldorf.html' %}
				
			</tr>

			<tr data-country="Hannover">
				<td class="rank">9</td>
				<td>13</td>
				<td>Hannover</td>
				{% include '../cities/hannover.html' %}
				
			</tr>

			<tr data-country="Bonn">
				<td class="rank">10</td>
				<td>23</td>
				<td>Bonn</td>
				{% include '../cities/bonn.html' %}
				
			</tr>

			<tr data-country="Mannheim">
				<td class="rank">11</td>
				<td>2</td>
				<td>Mannheim</td>
				{% include '../cities/mannheim.html' %}
				
			</tr>

			<tr data-country="Wiesbaden">
				<td class="rank">12</td>
				<td>7</td>
				<td>Wiesbaden</td>
				{% include '../cities/Wiesbaden.html' %}
				
			</tr>

			<!-- //top 12 -->

			<tr data-country="Freiburg">
				<td class="rank">13</td>
				<td>3</td>
				<td>Freiburg</td>
				{% include '../cities/freiburg.html' %}
				
			</tr>

			<tr data-country="Leipzig">
				<td class="rank">14</td>
				<td>30</td>
				<td>Leipzig</td>
				{% include '../cities/Leipzig.html' %}
				
			</tr>

			<tr data-country="Dortmund">
				<td class="rank">15</td>
				<td>33</td>
				<td>Dortmund</td>
				{% include '../cities/dortmund.html' %}
				
			</tr>

			<tr data-country="Essen">
				<td class="rank">16</td>
				<td>35</td>
				<td>Essen</td>
				{% include '../cities/essen.html' %}
				
				
			</tr>

			<tr data-country="Dresden">
				<td class="rank">17</td>
				<td>17</td>
				<td>Dresden</td>
				{% include '../cities/dresden.html' %}
				
			</tr>

			<tr data-country="Nuremberg">
				<td class="rank">18</td>
				<td>24</td>
				<td>Nuremberg</td>
				{% include '../cities/nuremberg.html' %}
				
			</tr>

			<tr data-country="Wuppertal">
				<td class="rank">19</td>
				<td>29</td>
				<td>Wuppertal</td>
				{% include '../cities/wuppertal.html' %}
				
			</tr>

			<tr data-country="Muenster">
				<td class="rank">20</td>
				<td>28</td>
				<td>Muenster</td>
				{% include '../cities/Muenster.html' %}
				
			</tr>

			<tr data-country="Gelsenkirchen">
				<td class="rank">21</td>
				<td>27</td>
				<td>Gelsenkirchen</td>
				{% include '../cities/gelsenkirchen.html' %}
				
			</tr>

			<tr data-country="Braunschweig">
				<td class="rank">22</td>
				<td>21</td>
				<td>Braunschweig</td>
				{% include '../cities/braunschweig.html' %}
				
			</tr>

			<tr data-country="Aachen">
				<td class="rank">23</td>
				<td>25</td>
				<td>Aachen</td>
				{% include '../cities/aachen.html' %}
				
			</tr>

			<tr data-country="Chemnitz">
				<td class="rank">24</td>
				<td>6</td>
				<td>Chemnitz</td>
				{% include '../cities/chemnitz.html' %}
				
			</tr>
			<!-- //top 24 -->

			<tr data-country="Magdeburg">
				<td class="rank">25</td>
				<td>5</td>
				<td>Magdeburg</td>
				{% include '../cities/magdeburg.html' %}
				
			</tr>

			<tr data-country="Mainz">
				<td class="rank">26</td>
				<td>16</td>
				<td>Mainz</td>
				{% include '../cities/mainz.html' %}
				
			</tr>

			<tr data-country="Osnabrück">
				<td class="rank">27</td>
				<td>4</td>
				<td>Osnabrück</td>
				{% include '../cities/osnabruck.html' %}
				
			</tr>

			<tr data-country="Duisburg">
				<td class="rank">28</td>
				<td>47</td>
				<td>Duisburg</td>
				{% include '../cities/duisburg.html' %}
				
			</tr>

			<tr data-country="Bochum">
				<td class="rank">29</td>
				<td>32</td>
				<td>Bochum</td>
				{% include '../cities/bochum.html' %}
				
			</tr>

			<tr data-country="Bielefeld">
				<td class="rank">30</td>
				<td>42</td>
				<td>Bielefeld</td>
				{% include '../cities/bielefeld.html' %}
				
			</tr>


			<tr data-country="Karlsruhe">
				<td class="rank">31</td>
				<td>18</td>
				<td>Karlsruhe</td>
				{% include '../cities/karlsruhe.html' %}
				
			</tr>


			<tr data-country="Augsburg">
				<td class="rank">32</td>
				<td>14</td>
				<td>Augsburg</td>
				{% include '../cities/augsburg.html' %}
				
			</tr>


			<tr data-country="Mönchengladbach">
				<td class="rank">33</td>
				<td>34</td>
				<td>Mönchengladbach</td>
				{% include '../cities/monchenlgadbach.html' %}
				
			</tr>

			<tr data-country="Keel">
				<td class="rank">34</td>
				<td>20</td>
				<td>Keel</td>
				{% include '../cities/keel.html' %}
				
			</tr>


			<tr data-country="Halle">
				<td class="rank">35</td>
				<td>45</td>
				<td>Halle (Saale)</td>
				{% include '../cities/halle.html' %}
				
			</tr>


			<tr data-country="Krefeld">
				<td class="rank">36</td>
				<td>41</td>
				<td>Krefeld</td>
				{% include '../cities/krefeld.html' %}
				
			</tr>

			<!--// top36 -->


			<tr data-country="Lübeck">
				<td class="rank">37</td>
				<td>37</td>
				<td>Lübeck</td>
				{% include '../cities/lubeck.html' %}
				
			</tr>


			<tr data-country="Erfurt">
				<td class="rank">38</td>
				<td>36</td>
				<td>Erfurt</td>
				{% include '../cities/Erfurt.html' %}
				
			</tr>

			<tr data-country="Rostock">
				<td class="rank">39</td>
				<td>12</td>
				<td>Rostock</td>
				{% include '../cities/rostock.html' %}
				
			</tr>


			<tr data-country="Oberhausen">
				<td class="rank">40</td>
				<td>39</td>
				<td>Oberhausen</td>
				{% include '../cities/oberhausen.html' %}
				
			</tr>


			<tr data-country="Kassel">
				<td class="rank">41</td>
				<td>38</td>
				<td>Kassel</td>
				{% include '../cities/kassel.html' %}
				
			</tr>

			<tr data-country="Hagen">
				<td class="rank">42</td>
				<td>43</td>
				<td>Hagen</td>
				{% include '../cities/hagen.html' %}
				
			</tr>


			<tr data-country="Potsdam">
				<td class="rank">43</td>
				<td>40</td>
				<td>Potsdam</td>
				{% include '../cities/potsdam.html' %}
				
			</tr>


			<tr data-country="Saarbrücken">
				<td class="rank">44</td>
				<td>19</td>
				<td>Saarbrücken</td>
				{% include '../cities/saarbrucken.html' %}
				
			</tr>

			
			<tr data-country="Hamm">
				<td class="rank">45</td>
				<td>46</td>
				<td>Hamm</td>
				{% include '../cities/hamm.html' %}
				
			</tr>

			
			<tr data-country="Ludwigshafen">
				<td class="rank">46</td>
				<td>44</td>
				<td>Ludwigshafen</td>
				{% include '../cities/ludwigshafen.html' %}
				
			</tr>


			<tr data-country="Mülheim">
				<td class="rank">47</td>
				<td>50</td>
				<td>Mülheim an der Ruhr</td>
				{% include '../cities/mulheim.html' %}
				
			</tr>


			<tr data-country="Oldenburg">
				<td class="rank">48</td>
				<td>31</td>
				<td>Oldenburg</td>
				{% include '../cities/oldenburg.html' %}
				
			</tr>


			<tr data-country="Leverkusen">
				<td class="rank">49</td>
				<td>48</td>
				<td>Leverkusen</td>
				{% include '../cities/leverkusen.html' %}
				
			</tr>


			<tr data-country="Solingen">
				<td class="rank">50</td>
				<td>49</td>
				<td>Solingen</td>
				{% include '../cities/solingen.html' %}
				
			</tr>






		</tbody>
	</table>

</div>