html
	&.is-fixed
		overflow hidden

.data-section
	margin-bottom 80px
	

	.jump-to
		display inline-block
		position relative
		color inherit
		cursor pointer
		span
			position relative
			display inline-block
			z-index 2
		&:before
			content ''
			position absolute
			display block
			bottom 3px
			left -5px
			width calc(100% + 10px)
			height 10px
			background $light-accent-color
			transition all .3s
			z-index 1
		&:hover
			&:before
				height 20px
				
	.map-col
		.control-row
			position relative
			display flex
			justify-content space-between
			flex-wrap nowrap
			padding-left 39px
			z-index 3
			margin-bottom 30px
			
		.languages
			display flex
			justify-content flex-start
			margin-right 25px
			flex-wrap nowrap
			
			img
				display block
				width 26px
				height auto
				margin-right 10px
			
			.language-link
				position relative
				display flex
				justify-content flex-start
				align-items flex-start
				font 13px $FuturaHeavy
				color $basic-black-color
				&:first-child
					margin-right 15px
					
			span.language-link
				span
					position relative
					display inline-block
					&:after
						pseudo()
						display block
						position absolute
						top 100%
						left 0
						width 100%
						height 2px
						background-color currentColor
					
			a.language-link
				color #9a9a9a
				
	.info-trigger
		flex-col-center()
		flex none
		width 39px
		height 39px
		color $basic-white-color
		font 12px $FuturaHeavy
		background-color $basic-black-color
		&:hover
			cursor pointer
			background-color $accent-color
			color $basic-black-color
					
				
	.control-row
		.links-contain
			align-items center
			display flex
			justify-content space-between
			flex-wrap nowrap
			

			
	img.logo
		display block
		width 100%
		
	.logo-wrapper
		width 617px
		position relative
		horisontal-center()
		pointer-events none
		margin-bottom -5%
		z-index -1
		margin-left -32px
		&:before
			pseudo()
			position absolute
			top 0
			right -10px
			display block
			width 30px
			height 100%
			background white
			z-index 1
			pointer-events none
			
		
	
.info-section
	text-align center
	margin-bottom 50px
	
	.site-width
		position relative
		max-width 745px
		width 100%
		text-align left
		margin 0 auto
		

		
p.intro-para
	font-size 16px
	line-height 31px


.data-section
	.map-col
		padding-top 20px
		.internal-map-contain
			display block
			position relative
			overflow hidden
			padding-right 40px
			
			.overlay-close
				position absolute
				top 0
				right 0
				width 40px
				height 40px
				z-index 3
				opacity 0
				visibility hidden
				pointer-events none
				&.is-visible
					opacity 1
					visibility visible
					pointer-events auto
			
		.scale-visual
			position absolute
			vertical-center()
			right 5px
			z-index 2
			height 355px
			display flex
			align-items center
			justify-content space-between
			flex-direction column
			text-align center
			text-transform uppercase
			color #4C4C4C
			font-size 13px
			&__line
				display block
				flex 1
				margin 6px 0
				width 8px
				background linear-gradient(180deg, #E04D83 21.84%, #FFCD98 100%)
			
			
		.map-visual
			cursor pointer
			position relative
			svg
				display block
				width 100%
				max-width 612px
				height auto
				margin 0 auto
				
		
				
			> svg
					text
						font 32px $Adobe
					

			g[data-target]
				display block
				ellipse,
				circle,
				path,
				text
					transition all .17s ease-in-out
				
					
				.location-marker
					opacity 0 !important
					
			g[data-sexshops="top-12"]
				&.active-sexshops
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						

						
			g[data-swingerclubs="top-12"]
				&.active-swingerclubs
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-gayprides="top-12"]
				&.active-gayprides
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-lgbtevents="top-12"]
				&.active-lgbtevents
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-lgbtbars="top-12"]
				&.active-lgbtbars
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-brothels="top-12"]
				&.active-brothels
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-sexworkers="top-12"]
				&.active-sexworkers
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-sexworkorg="top-12"]
				&.active-sexworkorg
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-sexhealth="top-12"]
				&.active-sexhealth
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-hiv="top-12"]
				&.active-hiv
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
						
			g[data-finalranking="top-12"]
				&.active-finalranking
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top12 !important
			
			// top 12
					
			
						
			g[data-sexshops="top-24"]
				&.active-sexshops
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-swingerclubs="top-24"]
				&.active-swingerclubs
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-gayprides="top-24"]
				&.active-gayprides
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-lgbtevents="top-24"]
				&.active-lgbtevents
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-lgbtbars="top-24"]
				&.active-lgbtbars
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-brothels="top-24"]
				&.active-brothels
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-sexworkers="top-24"]
				&.active-sexworkers
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-sexworkorg="top-24"]
				&.active-sexworkorg
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-sexhealth="top-24"]
				&.active-sexhealth
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-hiv="top-24"]
				&.active-hiv
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			g[data-finalranking="top-24"]
				&.active-finalranking
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top24 !important
						
			// top 24
						

		
			g[data-sexshops="top-36"]
				&.active-sexshops
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-swingerclubs="top-36"]
				&.active-swingerclubs
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-gayprides="top-36"]
				&.active-gayprides
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-lgbtevents="top-36"]
				&.active-lgbtevents
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-lgbtbars="top-36"]
				&.active-lgbtbars
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-brothels="top-36"]
				&.active-brothels
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-sexworkers="top-36"]
				&.active-sexworkers
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-sexworkorg="top-36"]
				&.active-sexworkorg
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-sexhealth="top-36"]
				&.active-sexhealth
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-hiv="top-36"]
				&.active-hiv
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			g[data-finalranking="top-36"]
				&.active-finalranking
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top36 !important
						
			// top 36
						
			
						
			g[data-sexshops="top-50"]
				&.active-sexshops
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
			
			g[data-swingerclubs="top-50"]
				&.active-swingerclubs
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-gayprides="top-50"]
				&.active-gayprides
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-lgbtevents="top-50"]
				&.active-lgbtevents
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-lgbtbars="top-50"]
				&.active-lgbtbars
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-brothels="top-50"]
				&.active-brothels
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-sexworkers="top-50"]
				&.active-sexworkers
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-sexworkorg="top-50"]
				&.active-sexworkorg
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-sexhealth="top-50"]
				&.active-sexhealth
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-hiv="top-50"]
				&.active-hiv
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			g[data-finalranking="top-50"]
				&.active-finalranking
					circle,
					ellipse,
					.location-circle,
					path,
					text
						fill-opacity 1
						fill $top50 !important
						
			// top 50
						
			g[data-target]
				&:hover,
				&.active
					cursor pointer
					ellipse,
					path,
					text
						fill $basic-black-color !important
						fill-opacity 1 !important
						
			
						
					.location-circle
						opacity 0 !important
					.location-marker
						opacity 1 !important
						
				

.map-scale
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	// left -30px
	// right -30px
	background-color white
	z-index 2
	overflow hidden
	transition all .3s ease-in-out
	opacity 0
	visibility hidden
	pointer-events none
	&.active
		opacity 1
		visibility visible
		pointer-events auto
	
	&-container
		// width 100%
		// height 100%
		overflow scroll
		height calc(100% + 25px)
		width calc(100% + 25px)
			
		&.is-hidden
			overflow hidden
	
		
		
		svg
			display block
			width 1800px !important	
			max-width none !important
			margin-top -500px !important
			
			text
				font 20px $Adobe

			
			.st8,
			.st6
				stroke none !important
				

					
	

			
.data-section .map-col .internal-map-contain
	overflow visible

.select2-search--dropdown
	display none


.select2-results__options
	padding 0
	margin 0
	
	li
		list-style-type none
		padding 10px 20px !important
		font-size 16px
		font-family $FuturaHeavy
		color #fff
		background $alternate-color
		margin 0 !important
	



.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color $basic-black-color
	


.dd-contain
	position relative
	display inline-block
	> span:first-child
		display block
		padding-left 5px
		font-size 13px
		font-weight bold
		color #9A9A9A

	.select2-container
		width auto !important

	.select2-container--default .select2-selection--single,
	.select2-container .select2-selection--single
		background-color transparent
		border 0
		border-radius 0


	.select2-selection__arrow
		display none
	

	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.select2-selection__rendered
		display block
		padding-top 4px
		font-weight normal
		padding 0
		font-size 28px
		line-height 1.4
		font-family $Futura
		text-transform none
		color $basic-black-color
	

	.select2-selection
		display block
		height 100% !important
	

	.selection
		position relative
		display block
		height 40px
		margin-top 1px
		background transparent
		border-top 0
		border-left 0
		border-right 0
		min-width 160px
		

		&:after
			content ''
			position relative
			display block
			width 100%
			height 1px
			background transparent linear-gradient(90deg, #F84481 0%, #FCAE77 100%) 0% 0% no-repeat padding-box
		

		.select2-selection__rendered
			padding-right 24px !important
			padding-left 4px !important

			&:after
				content ''
				position absolute
				display block
				height 36px
				right 0
				bottom 13px
				width 12px
				height 8px
				background url('../img/arw-down.svg') center center no-repeat

		&:focus 
			outline none
			border 0
			
.data-section
	.data-col
		.invert-trigger
			cursor pointer
			path
				transition stroke .17s ease-in-out
			&:hover
				path
					stroke $basic-black-color
		

.data-section
	.expand-control
		display flex
		flex-direction row
		justify-content center
		align-items center
		align-content center
		flex-wrap nowrap
		padding 25px 0
		
		&:before,
		&:after
			content ''
			flex-shrink 1
			position relative
			display block
			width 145px
			height 1px
			background-color #d3d3d3

			

		.expand-toggle
			display flex
			flex-direction row
			justify-content center
			align-items center
			align-content center
			font-family $FuturaHeavy
			flex-wrap nowrap
			flex-shrink 0
			width 127px
			height 38px
			padding 10px 15px
			margin 0 15px
			font-size 12px
			text-transform uppercase
			color $basic-white-color
			background-color $basic-black-color
		

			&:hover
				color $basic-white-color
				background-color $accent-color
				cursor pointer
			

			img
				display block
				margin-right 15px
				flex none
				width 18px

			span
				display block
				text-align center
				flex-grow 1
				

	.table-container
		position relative
		height 304px
		overflow-y hidden
		overflow-x auto
		transition all 0.5s ease
		&.expand,
		&.overlay-active
			height 2059px
			
		&.country-overlay-open .bg-fade
			display none
		
			
		.bg-fade
			position absolute
			top 0
			right 0
			display block
			width 146px
			height 100%
			background transparent linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)) 0% 0% no-repeat padding-box
			z-index 10
			pointer-events none
			transition: opacity 0.3s

			&.hidden
				opacity 0
				
	.table-contain
		min-width 100%
		opacity 0
		position absolute
		top 100%
		left 0
		overflow-x auto
		overflow-y hidden
		transition all 0.5s linear
		
		h2
			font 18px adobe-caslon-pro,serif
			color #414042
			font-weight 400
			line-height 1.2
			margin-bottom 0.5rem

		&.active
			opacity 1
			top 0
			
		table
			width 100%
			min-width 1000px


			td
				padding 9px 10px 12px
				vertical-align middle
				text-align center
				font-family inherit
				background-color white
				&:nth-child(1)
					width 40px
				
				&:nth-child(2)
					white-space nowrap
					text-align left
					min-width 150px
					width 150px
				
				&:nth-child(6),
				&:nth-child(8)
					min-width 100px
					
				&:nth-child(2)
					min-width 100px
				&:nth-child(13),
				&:nth-child(14)
					min-width 120px
				

			tr
				&:first-child
					font-size 12px
					line-height 1.2
					font-family $FuturaHeavy
					color #9a9a9a
					text-align center
					&:hover
						color #9a9a9a
						background $basic-white-color
				&:nth-child(1n+2)
					cursor pointer
					font 14px $FuturaHeavy
				// &:nth-child(even)
				// 	background-color #efefef
				&:hover
					color $basic-white-color
					background transparent linear-gradient(90deg, #E04D83 0%, #FFCC98 100%) 0% 0% no-repeat padding-box
					td
						background-color transparent
					

	




.info-section
	padding-bottom 50px
	font-family $FuturaMed
	h2
		display inline-block
		position relative
		font-size 38px
		line-height 1.2
		margin-bottom 0
		font-family adobe-caslon-pro,serif
		&:after
			content ''
			position relative
			display block
			width 100%
			height 1px
			margin 20px 0 30px
			background transparent linear-gradient(90deg,#f84481 0,#fcae77 100%) 0 0 no-repeat padding-box
			
	p
		margin-bottom 40px

	img
		display block
		margin-bottom 40px
		
	a
		color inherit
		&:hover
			color #0056b3
			text-decoration underline
		


.swbi_content h1, .swbi_content .h1, .swbi_content h2, .swbi_content .h2, .swbi_content h3, .swbi_content .h3, .swbi_content h4, .swbi_content .h4, .swbi_content h5, .swbi_content .h5, .swbi_content h6, .swbi_content .h6, .info-overlay h1, .info-overlay .h1, .info-overlay h2, .info-overlay .h2, .info-overlay h3, .info-overlay .h3, .info-overlay h4, .info-overlay .h4, .info-overlay h5, .info-overlay .h5, .info-overlay h6, .info-overlay .h6
	font-family adobe-caslon-pro,serif
	font-weight 400
	line-height 1.2
	
p
	position relative
	margin 0 0 1rem
	line-height 1.4
	
h3
	font-size 16px
	
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
	margin-bottom 0.5rem
	


.fullscreen
	position fixed
	top 0
	left 0
	z-index 30
	width 100%
	height 100vh
	background-color $basic-white-color
	opacity 0
	visibility hidden
	pointer-events none
	transition all .35s ease-in-out
	&.active
		opacity 1
		visibility visible
		pointer-events auto
	&-control
		position fixed
		top 0
		left 0
		width 100%
		//background-color $basic-white-color
		display flex
		justify-content center
		padding-left 25px
		padding-right 25px
		height 40px
		z-index 31
	&-container
		width 100%
		height 100%
		display flex
		//padding-top 50px
		div
			overflow auto
			flex 1
		img
			width 1200px
			display block
			position relative
			// vertical-center()
			

.btn-back
	display inline-block
	width 26px
	height 24px
	fill #333333
	position absolute
	vertical-center()
	left 25px
	

.btn-zoom
	display inline-block
	width 39px
	height 39px
	background-color $basic-black-color
	position absolute
	top 0
	right 0
	z-index 4
	&:hover
		background-color $accent-color
		svg
			fill $basic-white-color
			
	&.is-active
		.btn-zoom__ic-plus
			opacity 0
		.btn-zoom__ic-minus
			opacity 1
	
	&__ic
		svg()
		position absolute
		position-center()
		width 20px
		height 20px
		fill $basic-white-color
		&-minus
			opacity 0
			
.map-desktop
	
	.st0{fill:#FFFFFF;}
	.st1{fill:#333333;}
	.st2{fill:none;stroke:#414042;stroke-width:3.7204;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill-opacity:0.75;}
	.st4{fill-opacity:0.56;}
	.st5{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter);}
	.st6{mask:url(#path-134-inside-1_407_5_1_);fill:none;stroke:#000000;}
	.st7{clip-path:url(#SVGID_2_);}
	.st8{fill:none;stroke:#000000;}
	.st9{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_1_);}
	.st10{mask:url(#path-136-inside-2_407_5_1_);}
	.st11{fill:none;stroke:#000000;stroke-width:2;}
	.st12{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_2_);}
	.st13{mask:url(#path-141-inside-3_407_5_1_);}
	.st14{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_3_);}
	.st15{mask:url(#path-143-inside-4_407_5_1_);}
	.st16{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_4_);}
	.st17{mask:url(#path-146-inside-5_407_5_1_);}
	.st18{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_5_);}
	.st19{mask:url(#path-149-inside-6_407_5_1_);}
	.st20{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_6_);}
	.st21{mask:url(#path-151-inside-7_407_5_1_);}
	.st22{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_7_);}
	.st23{mask:url(#path-153-inside-8_407_5_1_);}
	.st24{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_8_);}
	.st25{mask:url(#path-155-inside-9_407_5_1_);}
	.st26{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_9_);}
	.st27{mask:url(#path-157-inside-10_407_5_1_);}
	.st28{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_10_);}
	.st29{mask:url(#path-159-inside-11_407_5_1_);}
	.st30{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_11_);}
	.st31{mask:url(#path-161-inside-12_407_5_1_);}
	.st32{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_12_);}
	.st33{mask:url(#path-163-inside-13_407_5_1_);}
	.st34{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_13_);}
	.st35{mask:url(#path-165-inside-14_407_5_1_);}
	.st36{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_14_);}
	.st37{mask:url(#path-167-inside-15_407_5_1_);}
	.st38{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_15_);}
	.st39{mask:url(#path-169-inside-16_407_5_1_);}
	.st40{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_16_);}
	.st41{mask:url(#path-171-inside-17_407_5_1_);}
	.st42{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_17_);}
	.st43{mask:url(#path-173-inside-18_407_5_1_);}
	.st44{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_18_);}
	.st45{mask:url(#path-175-inside-19_407_5_1_);}
	.st46{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_19_);}
	.st47{mask:url(#path-177-inside-20_407_5_1_);}
	.st48{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_20_);}
	.st49{mask:url(#path-179-inside-21_407_5_1_);}
	.st50{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_21_);}
	.st51{mask:url(#path-181-inside-22_407_5_1_);}
	.st52{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_22_);}
	.st53{mask:url(#path-189-inside-23_407_5_1_);}
	.st54{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_23_);}
	.st55{mask:url(#path-191-inside-24_407_5_1_);}
	.st56{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_24_);}
	.st57{mask:url(#path-193-inside-25_407_5_1_);}
	.st58{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_25_);}
	.st59{mask:url(#path-195-inside-26_407_5_1_);}
	.st60{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_26_);}
	.st61{mask:url(#path-197-inside-27_407_5_1_);}
	.st62{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_27_);}
	.st63{mask:url(#path-199-inside-28_407_5_1_);}
	.st64{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_28_);}
	.st65{mask:url(#path-201-inside-29_407_5_1_);}
	.st66{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_29_);}
	.st67{mask:url(#path-203-inside-30_407_5_1_);}
	.st68{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_30_);}
	.st69{mask:url(#path-205-inside-31_407_5_1_);}
	.st70{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_31_);}
	.st71{mask:url(#path-207-inside-32_407_5_1_);}
	.st72{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_32_);}
	.st73{mask:url(#path-209-inside-33_407_5_1_);}
	.st74{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_33_);}
	.st75{mask:url(#path-211-inside-34_407_5_1_);}
	.st76{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_34_);}
	.st77{mask:url(#path-219-inside-35_407_5_1_);}
	.st78{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_35_);}
	.st79{mask:url(#path-223-inside-36_407_5_1_);}
	.st80{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_36_);}
	.st81{mask:url(#path-225-inside-37_407_5_1_);}
	.st82{fill:#FF4E6E;fill-opacity:0.75;}
	.st83{fill:#FF765C;}
	.st84{fill:#FF9D62;}
	.st85{fill:#DC005A;}
	
.map-mobile
	.st0{fill:#FFFFFF;}
	.st1{fill:none;}
	.st2{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:#FF765C;fill-opacity:0.36;}
	.st4{fill:#FF765C;}
	.st5{fill:#DC005A;fill-opacity:0.36;}
	.st6{fill:#DC005A;}
	.st7{fill:#FF4E6E;fill-opacity:0.36;}
	.st8{fill:#FF4E6E;fill-opacity:0.75;}
	.st9{fill:#FF9D62;fill-opacity:0.36;}
	.st10{fill:#FF9D62;}
	.st11{fill:none;}
	.st12{fill:none;stroke:#000000;stroke-width:1.8602;}
	.st13{fill-opacity:0.56;}
	.st14{fill:none;stroke:#000000;stroke-width:2;}
	.st15{clip-path:url(#SVGID_2_);}
	.st16{clip-path:url(#SVGID_4_);}
	.st17{fill:none;stroke:#000000;stroke-width:0.6;}
	//.st18{clip-path:url(#SVGID_6_);}
	.st19{fill:none;stroke:#000000;}
	.st20{clip-path:url(#SVGID_8_);}
	.st21{clip-path:url(#SVGID_10_);}
	.st22{clip-path:url(#SVGID_12_);}
	.st23{clip-path:url(#SVGID_14_);}
	.st24{clip-path:url(#SVGID_16_);}
	
	.st21{clip-path:url(#SVGID_8_);}
	.st18{fill:none;stroke:#000000;stroke-width:0.6;}